In [1]:
import pandas as pd
import numpy as np
# Load data
md = pd.read_csv('../data/lens_tmdb/movies_metadata.csv')
# ratings = pd.read_csv('../../ data/lens_tmdb/ratings.csv')

/tmp/ipykernel_10871/451757142.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  md = pd.read_csv('../data/lens_tmdb/movies_metadata.csv')

# movies_metadata.csv

In [2]:
md

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [3]:
import pandas as pd
import ast

# assuming df is your DataFrame
# and assuming the dictionaries are stored as strings, we first need to convert them into actual Python objects
dict_columns = ['belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages']

for col in dict_columns:
    md[col] = md[col].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

# Now, let's extract the information we want
md['collection_name'] = md['belongs_to_collection'].apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)
md['genre'] = md['genres'].apply(lambda x: x[0]['name'] if isinstance(x, list) and len(x) > 0 else np.nan)
md['production_company'] = md['production_companies'].apply(lambda x: x[0]['name'] if isinstance(x, list) and len(x) > 0 else np.nan)
md['production_country'] = md['production_countries'].apply(lambda x: x[0]['name'] if isinstance(x, list) and len(x) > 0 else np.nan)
md['spoken_language'] = md['spoken_languages'].apply(lambda x: x[0]['name'] if isinstance(x, list) and len(x) > 0 else np.nan)

# now drop the original columns
md = md.drop(columns=dict_columns)

In [4]:
md

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,tagline,title,video,vote_average,vote_count,collection_name,genre,production_company,production_country,spoken_language
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,Adventure,TriStar Pictures,United States of America,English
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,Romance,Warner Bros.,United States of America,English
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,Comedy,Twentieth Century Fox Film Corporation,United States of America,English
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,Comedy,Sandollar Productions,United States of America,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,...,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaN,Drama,NaN,Iran,فارسی
45462,False,0,NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,...,NaN,Century of Birthing,False,9.0,3.0,NaN,Drama,Sine Olivia,Philippines,
45463,False,0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,...,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN,Action,American World Pictures,United States of America,English
45464,False,0,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,...,NaN,Satan Triumphant,False,0.0,0.0,NaN,NaN,Yermoliev,Russia,NaN
45465,False,0,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,...,NaN,Queerama,False,0.0,0.0,NaN,NaN,NaN,United Kingdom,English

In [5]:
md.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_name', 'genre',
       'production_company', 'production_country', 'spoken_language'],
      dtype='object')

In [6]:
# Save cleaned meta_data csv
md.to_csv('../data/lens_tmdb/cleaned/movies_metadata_cleaned.csv', index=False)

In [7]:
md

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,tagline,title,video,vote_average,vote_count,collection_name,genre,production_company,production_country,spoken_language
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,Adventure,TriStar Pictures,United States of America,English
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,Romance,Warner Bros.,United States of America,English
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,Comedy,Twentieth Century Fox Film Corporation,United States of America,English
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,Comedy,Sandollar Productions,United States of America,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,...,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaN,Drama,NaN,Iran,فارسی
45462,False,0,NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,...,NaN,Century of Birthing,False,9.0,3.0,NaN,Drama,Sine Olivia,Philippines,
45463,False,0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,...,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN,Action,American World Pictures,United States of America,English
45464,False,0,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,...,NaN,Satan Triumphant,False,0.0,0.0,NaN,NaN,Yermoliev,Russia,NaN
45465,False,0,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,...,NaN,Queerama,False,0.0,0.0,NaN,NaN,NaN,United Kingdom,English

# credits.csv

In [8]:
credits = pd.read_csv('../data/lens_tmdb/credits.csv')

In [9]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [10]:
import ast
# convert strings to lists of dictionaries
credits['cast'] = credits['cast'].apply(ast.literal_eval)
credits['crew'] = credits['crew'].apply(ast.literal_eval)

# extract the names of the cast members
credits['cast_names'] = credits['cast'].apply(lambda x: [i['name'] for i in x])

# extract the director from the crew column
credits['director'] = credits['crew'].apply(lambda x: [i['name'] for i in x if i['job'] == 'Director'])

# you can now drop the original 'cast' and 'crew' columns if you want
credits = credits.drop(columns=['cast', 'crew'])

credits.head()

      id                                         cast_names           director
0    862  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...    [John Lasseter]
1   8844  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...     [Joe Johnston]
2  15602  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...    [Howard Deutch]
3  31357  [Whitney Houston, Angela Bassett, Loretta Devi...  [Forest Whitaker]
4  11862  [Steve Martin, Diane Keaton, Martin Short, Kim...    [Charles Shyer]

In [11]:
# Save cleaned credits csv
credits.to_csv('../data/lens_tmdb/cleaned/credits_cleaned.csv', index=False)

# keywords.csv

In [12]:
keywords = pd.read_csv('../data/lens_tmdb/keywords.csv')

In [13]:
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [14]:
import pandas as pd
import ast

# convert strings to lists of dictionaries
keywords['keywords'] = keywords['keywords'].apply(ast.literal_eval)

# extract the keywords
keywords['keyword_list'] = keywords['keywords'].apply(lambda x: [i['name'] for i in x])

# you can now drop the original 'keywords' column if you want
keywords_df = keywords.drop(columns=['keywords'])

keywords_df.head()

      id                                       keyword_list
0    862  [jealousy, toy, boy, friendship, friends, riva...
1   8844  [board game, disappearance, based on children'...
2  15602  [fishing, best friend, duringcreditsstinger, o...
3  31357  [based on novel, interracial relationship, sin...
4  11862  [baby, midlife crisis, confidence, aging, daug...

In [15]:
# Save cleaned keywords csv
keywords_df.to_csv('../data/lens_tmdb/cleaned/keywords_cleaned.csv', index=False)

# create final movie dataframe

In [48]:
md_cleaned = pd.read_csv('../data/lens_tmdb/cleaned/movies_metadata_cleaned.csv')
credits_cleaned = pd.read_csv('../data/lens_tmdb/cleaned/credits_cleaned.csv')
keywords_cleaned = pd.read_csv('../data/lens_tmdb/cleaned/keywords_cleaned.csv')
ratings = pd.read_csv('../data/lens_tmdb/ratings.csv')
ratings_small = pd.read_csv('../data/lens_tmdb/ratings_small.csv')
links = pd.read_csv('../data/lens_tmdb/links.csv')
links_small = pd.read_csv('../data/lens_tmdb/links_small.csv')

/tmp/ipykernel_10871/721883452.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  md_cleaned = pd.read_csv('../data/lens_tmdb/cleaned/movies_metadata_cleaned.csv')

# create dataset ***info*** from movies_metadata, credits, keywords

In [49]:
md_cleaned.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_name', 'genre',
       'production_company', 'production_country', 'spoken_language'],
      dtype='object')

In [50]:
keywords_cleaned.columns

Index(['id', 'keyword_list'], dtype='object')

In [51]:
credits_cleaned.columns

Index(['id', 'cast_names', 'director'], dtype='object')

In [52]:
md_cleaned['id'] = pd.to_numeric(md_cleaned['id'], errors='coerce')
md_cleaned = md_cleaned.dropna(subset=['id'])
md_cleaned['id'] = md_cleaned['id'].astype(int)

In [53]:
# set id column to int
md_cleaned['id'] = md_cleaned['id'].astype(int)
credits_cleaned['id'] = credits_cleaned['id'].astype(int)

In [54]:
# merge md_cleaned and credits_cleaned
info_df = pd.merge(md_cleaned, credits_cleaned, on='id')

In [55]:
info_df.shape

(45538, 26)

In [56]:
info_df.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_name', 'genre',
       'production_company', 'production_country', 'spoken_language',
       'cast_names', 'director'],
      dtype='object')

In [57]:
# merge info_df and keywords_cleaned
info_df = pd.merge(info_df, keywords_cleaned, on='id')

In [58]:
info_df.shape

(46628, 27)

In [59]:
# rename column 'tmdbId' to 'tmdb_id'
links =links.rename(columns={'tmdbId': 'id'})

In [60]:
# drop nan values
links = links.dropna(subset=['id'])
# convert id column to int
links['id'] = links['id'].astype(int)

In [61]:
links

       movieId   imdbId      id
0            1   114709     862
1            2   113497    8844
2            3   113228   15602
3            4   114885   31357
4            5   113041   11862
...        ...      ...     ...
45838   176269  6209470  439050
45839   176271  2028550  111109
45840   176273   303758   67758
45841   176275     8536  227506
45842   176279  6980792  461257

[45624 rows x 3 columns]

In [62]:
merged_df_final = info_df.merge(links, how='left', on='id')

In [63]:
merged_df_final

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,collection_name,genre,production_company,production_country,spoken_language,cast_names,director,keyword_list,movieId,imdbId
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter'],"['jealousy', 'toy', 'boy', 'friendship', 'frie...",1,114709
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,NaN,Adventure,TriStar Pictures,United States of America,English,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",['Joe Johnston'],"['board game', 'disappearance', ""based on chil...",2,113497
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Grumpy Old Men Collection,Romance,Warner Bros.,United States of America,English,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",['Howard Deutch'],"['fishing', 'best friend', 'duringcreditssting...",3,113228
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,NaN,Comedy,Twentieth Century Fox Film Corporation,United States of America,English,"['Whitney Houston', 'Angela Bassett', 'Loretta...",['Forest Whitaker'],"['based on novel', 'interracial relationship',...",4,114885
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,Father of the Bride Collection,Comedy,Sandollar Productions,United States of America,English,"['Steve Martin', 'Diane Keaton', 'Martin Short...",['Charles Shyer'],"['baby', 'midlife crisis', 'confidence', 'agin...",5,113041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46905,False,0,http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,...,NaN,Drama,NaN,Iran,فارسی,"['Leila Hatami', 'Kourosh Tahami', 'Elham Korda']",['Hamid Nematollah'],['tragic love'],176269,6209470
46906,False,0,NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,...,NaN,Drama,Sine Olivia,Philippines,NaN,"['Angel Aquino', 'Perry Dizon', 'Hazel Orencio...",['Lav Diaz'],"['artist', 'play', 'pinoy']",176271,2028550
46907,False,0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,...,NaN,Action,American World Pictures,United States of America,English,"['Erika Eleniak', 'Adam Baldwin', 'Julie du Pa...",['Mark L. Lester'],[],176273,303758
46908,False,0,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,...,NaN,NaN,Yermoliev,Russia,NaN,"['Iwan Mosschuchin', 'Nathalie Lissenko', 'Pav...",['Yakov Protazanov'],[],176275,8536
46909,False,0,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,...,NaN,NaN,NaN,United Kingdom,English,[],['Daisy Asquith'],[],176279,6980792

In [64]:
ratings_small

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [65]:
# check if nan in movieId column and how many
merged_df_final['movieId'].isnull().sum()

0

In [66]:
# save merged_df_final to csv
merged_df_final.to_csv('../data/lens_tmdb/cleaned/df_all.csv', index=False)

In [67]:
merged_df_final.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collection_name', 'genre',
       'production_company', 'production_country', 'spoken_language',
       'cast_names', 'director', 'keyword_list', 'movieId', 'imdbId'],
      dtype='object')

In [68]:
ratings_small.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [69]:
test = merged_df_final.merge(ratings_small, how='left', on='movieId')

In [72]:
test

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,production_country,spoken_language,cast_names,director,keyword_list,movieId,imdbId,userId,rating,timestamp
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,United States of America,English,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter'],"['jealousy', 'toy', 'boy', 'friendship', 'frie...",1,114709,7.0,3.0,8.518667e+08
247,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,United States of America,English,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",['Joe Johnston'],"['board game', 'disappearance', ""based on chil...",2,113497,15.0,2.0,1.134521e+09
354,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,United States of America,English,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",['Howard Deutch'],"['fishing', 'best friend', 'duringcreditssting...",3,113228,5.0,4.0,1.163375e+09
413,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,United States of America,English,"['Whitney Houston', 'Angela Bassett', 'Loretta...",['Forest Whitaker'],"['based on novel', 'interracial relationship',...",4,114885,19.0,3.0,8.551929e+08
426,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,United States of America,English,"['Steve Martin', 'Diane Keaton', 'Martin Short...",['Charles Shyer'],"['baby', 'midlife crisis', 'confidence', 'agin...",5,113041,15.0,4.5,1.093070e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137865,False,0,http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,...,Iran,فارسی,"['Leila Hatami', 'Kourosh Tahami', 'Elham Korda']",['Hamid Nematollah'],['tragic love'],176269,6209470,NaN,NaN,NaN
137866,False,0,NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,...,Philippines,NaN,"['Angel Aquino', 'Perry Dizon', 'Hazel Orencio...",['Lav Diaz'],"['artist', 'play', 'pinoy']",176271,2028550,NaN,NaN,NaN
137867,False,0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,...,United States of America,English,"['Erika Eleniak', 'Adam Baldwin', 'Julie du Pa...",['Mark L. Lester'],[],176273,303758,NaN,NaN,NaN
137868,False,0,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,...,Russia,NaN,"['Iwan Mosschuchin', 'Nathalie Lissenko', 'Pav...",['Yakov Protazanov'],[],176275,8536,NaN,NaN,NaN
137869,False,0,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,...,United Kingdom,English,[],['Daisy Asquith'],[],176279,6980792,NaN,NaN,NaN

In [71]:
# drop duplicates
test = test.drop_duplicates(subset=['id'])